<div class="container">
    <p>block-ui works!</p>
    <div style="height: 500px;">
    <block-ui message="Default Message">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam fuga neque nihil rerum veniam nam nobis doloremque. Ducimus totam earum esse quis labore non facere similique, animi ad quas cumque fuga accusamus nostrum voluptates laudantium expedita odit dignissimos repellendus nam inventore. Saepe accusamus quam similique. Ea ipsa vero nam veritatis magnam adipisci ipsum, iste nulla optio repellat animi enim ducimus consequatur saepe impedit, architecto libero asperiores ex alias iusto officia, esse id! Dolores beatae hic, commodi quam molestias quos. Voluptates accusamus, ea nulla dicta ut inventore ex. Iste dolores vero exercitationem nulla repellendus. Eligendi, architecto illum? Sed doloremque accusamus laborum.
            </p>
        </block-ui>
    </div>
</div>
